@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --bg-color: #1b2430;
  --purple-one: #9532eb;
  --purple-two: #51557e;
  --purple-three: #ececec;
  --fg-color: #fff098;
  @apply bg-[var(--bg-color)] text-white;
}
